<div class="d-flex">
  <button class="btn btn-primary m-2" (click)="login()">
    <span *ngIf="!checkLogin()"> Đăng nhập </span>
    <span *ngIf="checkLogin()"> Mở Google Picker </span>
  </button>
  <button class="btn btn-primary m-2" (click)="logout()">Đăng xuất</button>
</div>

<table class="table table-bordered m-auto w-75">
  <thead>
    <tr>
      <td>Tên file</td>
      <td>Định dạng</td>
      <td>Hành động</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of files; let i = index">
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>
        <button class="btn btn-primary mr-2" (click)="download(item)">
          Tải xuống
        </button>
        <button class="btn btn-danger" (click)="delete(i)">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>
